// Variables
@import '../../assets/theme/style.scss';

@mixin flex-box($gap: 40px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: $gap;
}

@mixin table-setting {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    mat-icon {
        color: $primary-color;
    }
}

@mixin search-field {
    width: 320px;
    height: 40px;
    margin: 0 auto;
    background: transparent;
    border: none;
    border-bottom: 1px solid $primary-color;
    
}

@mixin header-row {
    background-color: $light-blue !important;
    white-space: nowrap;
}

@mixin cell {
    white-space: nowrap;
    color: $light-color;
    a {
        color: $primary-color;
        text-decoration: none;
        cursor: pointer;
    }
    .action-text {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
        font-size: 16px;
        margin-right: 28px;
    }
}

@mixin column-actions {
    text-align: end !important;
}

@mixin status-badge($border-color, $text-color: white) {
    color: $border-color;
    border: 1px solid $border-color;
    border-radius: 60px;
    padding: 5px 14px;
    font-size: 12px;
}

.flex-box {
    @include flex-box;
    @media(max-width: 1024px){
        flex-wrap: wrap;
    }
}

.table-setting {
    @include table-setting;
}

.heading-box{
    display: flex;
    gap: 20px;
    align-items: center;

    .head-badge{
        padding: 3px 20px;
        border: 1px solid $primary-blue;
        border-radius: 60px;
        color: $black;
        background-color: #2786FF1A;
        p{
            margin-bottom: 0;
        }
    }
}
.page-heading{
    font-weight: bold;
    font-size: 24px;
}
.action-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}
::ng-deep {
    .mat-mdc-table thead{
        height: 60px;
    }
    input{
        padding-left: 10px !important;
    }
    .search {
        &.mat-mdc-form-field:not(.mat-mdc-paginator-page-size-select) .mat-mdc-text-field-wrapper {
            @include search-field;
            
        }
    }
    .table-search {
        &.mat-mdc-form-field:not(.mat-mdc-paginator-page-size-select) .mat-mdc-text-field-wrapper {
            @include search-field;
            border-radius: 0;
        }
    }
    .mobi-hide .mat-mdc-form-field:not(.mat-mdc-paginator-page-size-select) .mat-mdc-text-field-wrapper{
        border-radius: 5px
    }
    .mat-mdc-table .mat-mdc-header-cell {
        background: inherit;
        font-weight: 700;
        font-size: 16px;
    }
    .mat-mdc-header-row,
    .mat-mdc-header-cell {
        @include header-row;
    }
    .mat-mdc-cell {
        @include cell;
       
    }
    .mat-column-actions {
        @include column-actions;
    }
    .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
        border: 0.5px solid $light-color;
        border-radius: 4px; 
        background-color: $white
    }
    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
        border-radius: 4px; 
    }
}

.table-container {
    overflow-x: auto;
    max-width: 100%; 
    white-space: nowrap;
    height: 733px;
}

.pending {
    @include status-badge($error-color);
}

.rejected {
    @include status-badge($rejected-color);
}

.green {
    @include status-badge($success-color);
}

@media (max-width: 767px) {
    .flex-box {
        flex-wrap: wrap;
    }

    .mat-mdc-table-sticky {
        position: static !important;
    }
}
