@import '../../assets/theme/style.scss';

// Define mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  
}
.main-section{
  margin-top: -21px  !important;
}
.site-container {
  background-image: url('../../assets/Mask Group 1.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20px 60px 0  60px ;
  height: 100vh;
 
  @media (min-width: 576px) { 
    height: 100vh;
  }
  @media (min-width: 992px) {
    height: 100vh;
  }

  @media (min-width: 1200px) { 
    height: 100vh;
   }
}

.main-section {
  
  margin: 0 auto;

  .site-header {
    .site-logo {
      img {
        width: 361px;
        height: 74px;
      }
    }
  }

  .social-icons {
    display: flex;
    gap: 40px;
  }

  .site-login-area {
    @include flex-center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 940px) {
      flex-direction: column-reverse;
      .flex-box{
        margin: 0 auto;
      }
    }
    @media (min-width:767px) and (max-width:1200px) {
      align-items: flex-end;
     }
    
  }

  .login-form-area {
    padding: 1rem;
    border-radius: 10px;
    background-color: $white;
    width: 556px;
    margin-top: -46px;

    @media (min-width: 576px) { 
      margin-top: 1rem;
    }

    @media (max-width: 940px) {
      padding: 10px !important;
      margin-left: -10px;
      width: 100%;
    }
    @media (min-width:767px) and (max-width:1200px) {
      width: 98%;
     }
    
  }

  .icon {
    width: 44px;
    height: 44px;
    display: inline-block;
    background-image: url('../../assets/Group 4.png');
    background-size: auto 44px;
  }

  .facebook {
    background-position: 0 0;
  }

  .twitter {
    background-position: -90px 0;
  }

  .instagram {
    background-position: -180px 0;
  }

  .youtube {
    background-position: -269px 0;
  }

  .copy-write {
    font-size: 16px;
    margin-top: 20px;
    color: $white;
  }
}

.form-area {
  text-align: center;
  position: relative;

  .area-header {
    h1 {
      font-size: 32px;
      color: $dark-color;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 25px;
    }
  }

  .forgot-pass {
    text-align: right;
    margin-top: -12px;
    margin-bottom: 25px;
    padding: 0 30px;

    @media(max-width: 767px){
      margin-top: 1rem;
      display: block;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 18px;
    }
  }

  .signIn-area {
    font-size: 18px;
    color: $light-color;
    margin-top: 10px;

    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 18px;
    }
  }

  .form-action {
    margin-bottom: 80px;
  }

  .form-footer {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    color: #707070;
    left: 0;

    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 18px;
    }
  }

  .mat-mdc-form-field {
    margin-top: 1rem;
    .mat-mdc-text-field-wrapper {
      width: 462px;
      height: 64px;
      line-height: 34px;
      margin: 0 auto;
      background: $form-background;
  
      @media (max-width: 940px) {
        width: 243px;
      }
    }
  }

  .mdc-notched-outline__trailing,
  .mdc-notched-outline__leading {
    border: none;
  }

  .mdc-button {
    font-size: 18px;
    width: 462px;
    height: 64px;

    @media (max-width: 940px) {
      width: 100%;
    }
  }

  .mat-mdc-form-field-icon-prefix mat-icon,
  .mat-mdc-form-field-icon-suffix mat-icon {
    color: $primary-color;
  }

  .mat-mdc-raised-button:not(:disabled) {
    background-color: $primary-color;
  }
}

::ng-deep {
  .update-page {
    color: $white;
    font-size: 18px;
    text-align: end;
    margin-top: 1rem;
    p{
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      text-align: center !important;
    }
  }


}





@mixin link-styles {
  color: $link-color;
  text-decoration: none;
  font-size: 18px;
}


@mixin form-field-styles {
  width: $form-width-desktop;
  height: 64px;
  line-height: 34px;
  margin: 0 auto;
  background: $form-background;

  @media (max-width: 940px) {
    width: $form-width-mobile;
  }
  @media (min-width:767px) and (max-width:1200px) {
    width: 717px;
   }
}

::ng-deep {
  .update-page {
    color: $white;
    font-size: 18px;
    text-align: end;
    margin-top: 1rem;
    @media (min-width:767px) and (max-width:1200px) {
      text-align: center !important;
     }
  }
 

  .form-area {
    text-align: center;
    position: relative;

    form {
      padding: $form-padding;
      
      @media (min-width:767px) {
        padding: 1rem;
      }
    }

    .area-header {
      h1 {
        font-size: 32px;
        color: $dark-color;
      }

      p {
        font-size: 18px;
      }
    }

    .forgot-pass {
      text-align: right;
      margin-top: -12px;
      margin-bottom: 3rem;

      a {
        @include link-styles;
      }
    }

    .signIn-area {
      font-size: 18px;
      color: $light-color;
      margin-top: 10px;

      a {
        @include link-styles;
      }
    }

    .form-action {
      margin-bottom: 150px;
    }

    .form-footer {
      font-size: 18px;
      position: absolute;
      bottom: 0;
      color: $light-color;

      a {
        @include link-styles;
      }
    }

    .mat-mdc-form-field .mat-mdc-text-field-wrapper {
      @include form-field-styles;
    }

    .mdc-notched-outline__trailing,
    .mdc-notched-outline__leading {
      border: none;
    }

    .mdc-button {
      font-size: 18px;
      width: $form-width-desktop;
      height: 64px;

      @media (max-width: 940px) {
        width: $form-width-mobile;
      }
    }

    .mat-mdc-form-field-icon-prefix mat-icon,
    .mat-mdc-form-field-icon-suffix mat-icon {
      color: $link-color;
    }

    .mat-mdc-raised-button:not(:disabled) {
      background-color: $primary-color;
    }
  }
}




@media(max-width: 767px) {
  .form-container{
    width: 100%;
  }
  .main-section .site-header .site-logo img{
    width: 100%;
  }
  
}
