$primary-color: #2786FF;
$background-light: #f0f0f0;
$white: #ffffff;
$dark-color: #212121;
$light-color: #707070;
$link-color: #2786ff;
$black-color: #000000;
$color-orange: #FFD566;
$form-background: #ecf4ff;
$form-width-desktop: 462px;
$form-width-mobile: 300px;
$form-padding: 3rem;
$sidebar-width: 339px;
$sidebar-width-mobile: 200px;
$grid-gap-desktop: 60px;
$grid-gap-mobile: 56px;
$font-color: #333;
$darkb-color: #002A5F;
$light-gray: #707070B2;
$bg-color-approved: #26A50034;
$bg-color-submit: #0070FF33;
$bg-color-pending: #70707033;
$alert-bg-warning: #FF00001A;
$alert-bg-alert: #FFB10034;
$alert-border-color: #FF8900A3;
$yelow-color: #FACC15;
$error-color: #F7B219;
$rejected-color: red;
$success-color: #89C766;
$leam-color: #EAF3FF;
$white-leam-color: #F2F4F8;
$primary-blue: #2786FF;
$secondary-purple: #9327FF;
$accent-orange: #FF8227;
$success-green: #26A500;
$warning-yellow: #FACC15;
$error-red: #FB2859;
$light-blue: #e9f3ff;
$white: #FFFFFF;
$black: #000000;
$darkg-gray: #707070CB;
$gray: #707070;
$background-color: #F5F5F5;
$card-width: 940px;
$custom-dark-gray: #707070;
$custom-primary-blue: #2196F3;
$custom-active-tab-color: black;
$d-flex : flex;
$viewport-width: 100vh;
