// Define variables
$primary-color: #002A5F;
$secondary-color: #2786FF;
$background-light: #f0f0f0;
$white: #ffffff;

// Define mixins
@mixin sidebar-style {
  background-color: $primary-color;
  color: $white;
  padding: 1rem;
  
  ul {
    list-style-type: none;
    
    li {
      margin: 18px 0;
      
      a {
        color: $white;
        text-decoration: none;
        display: flex;
        gap: 12px;
        align-items: center;

        &.active {
          background-color: $white;
          color: $secondary-color;
        }
      }
    }
  }
}

@mixin separator-style {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

// Define styles using mixins and variables
.sidenav-container {
  background-color: $primary-color;
  height: 100vh;
}

.mat-sidenav {
  width: 300px;
  @include sidebar-style;
}

.mat-drawer-content {
  background-color: $background-light;
}

.sidenav-section {
  padding: 10px;
}

.sidenav-section h3 {
  margin-top: 0;
}

.toggle-button {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: $white;
}
