// Variables
@import '../../assets/theme/style.scss';

// Mixins
@mixin flex-box($gap: 10px) {
    display: flex;
    align-items: center;
    gap: $gap;
}

.bar-card{
    .flex-box{
        @include flex-box();
    }
}
.page-heading{
    font-weight: 500;
}
.banner-blue{
   background-image: url(../../assets/Rectangle\ 1107.svg);
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;
   width: 100%;

   @media(min-width: 1400px){
        width: 100%;
    }   

    .banner-content{
        display: flex;
        justify-content: space-between;
        top: 0;
        align-items: center;
        color: $white;
        gap: 0px;
        
        @media(max-width: 940px){
            display: block;
        }
    }
    .text-content{
        h2{
            font-size: 24px;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
        }
        width: 530px;

        @media(max-width: 940px){
            width: 100%
        }
    }
    
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 43px 23px;

    @media(max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 43px 20px;
    }

    @media(max-width: 940px){
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 43px 20px;
    }

    @media(min-width: 1320px) and (max-width: 1600px) {
        grid-gap: 43px 10px;
        
    }

}
.c-m{
    margin-top: 2rem;
}
.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    align-items: flex-start;
    @media(max-width: 940px){
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 43px 20px;
    }

}

// Global Styles
.sidenav-container {
    height: 100vh;
}

.page-heading {
    font-size: 24px;
    font-weight: 500;
}
.custom-width{
    gap: 25px;
}

// Card Styles
.bar-card,
.mat-mdc-card {
    width: $card-width;
    box-shadow: none;
    border-radius: 10px;
    position: relative;
    left: 10px;
    @media(max-width: 1280px) {
        width:581px;
    }
    @media(min-width: 1300px) {
        width:882px;
    }
    @media(min-width: 1320px) and (max-width: 1600px) {
        width:100% ;
        .mat-mdc-card-title{
            width: 240px;
        }
        .progress-chart {
            margin-top: 2rem;
        }
    }

    &.abaly-card {
        width: 280px;

        @media(min-width: 1320px) and (max-width: 1600px) {
            width:238px;
        }
    
    }
    &.analytic-card {
        width: 395px;

        @media(max-width: 1280px) {
            width: 100%;
        }
    }

    .card-header {
        width: 100%;
        .mat-mdc-card-subtitle {
            font-family: 18px;
            color: $light-color;
        }
        mat-icon {
            border-radius: 100px;
            padding: 10px;

            &.blue { background-color: rgba($primary-blue, 0.15); color: $primary-blue; }
            &.purple { background-color: rgba($secondary-purple, 0.15); color: $secondary-purple; }
            &.orange { background-color: rgba($accent-orange, 0.15); color: $accent-orange; }
            &.green { background-color: rgba($success-green, 0.15); color: $success-green; }
            &.yellow { background-color: rgba($warning-yellow, 0.15); color: $warning-yellow; }
            &.red { background-color: rgba($error-red, 0.15); color: $error-red; }
        }
    }

    .card-body {
        margin-top: 10px;

        .numBig {
            font-size: 60px;
            color: $primary-color;
            font-weight: 500;
        }

        .heigh {
            p {
                color: $light-color;
                font-size: 14px;
                margin-top: 5px;
                margin-bottom: 0;
            }
            .high-contain {
                font-size: 14px;
                font-weight: 500;
                display: flex;
                justify-content: end;
                gap: 10px;
                span, mat-icon {
                    color: $success-green;
                }
            }
        }
    }
}

.progress-chart {
    position: relative;

    .ruler {
        display: flex;
        align-items: flex-end;
        height: 30px; 
    }

    .progress-item {
        display: flex;
        align-items: center;
        margin-top: 7px; 
    }

    .progress-label {
        width: 216px;
        color: $light-color;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .progress-line-container {
        position: relative;
        width: 100%;
        top: -9px;
    }

    .progress-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 10px; 
        background-color: $custom-primary-blue; 
        border-radius: 4px;
    }
}

@media (max-width: 940px) {
    .mat-mdc-card.analytic-card,
    .bar-card {
        width: 314px;
        margin-top: 1rem;
    }

    .custom-width {
        width: 100%;
        margin-right: 0;
        display: block;
    }

    .card-header {
        flex-wrap: wrap;
        overflow-x: auto;
    }
}
.page-heading{
    font-weight: bold;
    font-size: 24px;
}
 
.text-svg{
    $white-space: nowrap;
    width: 100%;
    position: absolute;
    top: 48%;
    left: 0%;
    right: 50%;
    bottom: 50%;
    line-height: 34px;
    text-align: center;
}
.text-total{
    font-size: 40px;
    font-weight: 800;
    

    ~.svg-text{
        font-size: 18px;
        font-weight: 800;
    }
}
.chart-container{
    margin: 0 auto;
}
::ng-deep {
    .search.mat-mdc-form-field:not(.mat-mdc-paginator-page-size-select) .mat-mdc-text-field-wrapper{
        border-radius: 0 !important;
    }
    .mat-mdc-card-title{
        font-size: 24px !important;
    }
    .customTab .mat-mdc-tab-label-container {
        display: none !important;
    }
    .mat-mdc-tab-label-container{
        border-bottom: 1px solid $darkg-gray !important;
    }
    .mat-mdc-tab .mdc-tab-indicator__content--underline {
        border-color: $custom-primary-blue !important;
    }
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
        font-weight: 800;
        color: $black !important;
    }
    .mat-mdc-tab .mdc-tab__text-label {
        color: $light-color;
    }

    ngx-charts-horizontal-bar-series rect {
        height: 10px;
    }
}

.col-12{
    width: 100%;
    @media (min-width: 1000px) {
        width: 98%;
        padding-left: 10px;
    }
  
}

.dashboard-content{
    height: 100vh;
    .row{
        display: flex;
        gap: 8px;
        margin-bottom: 20px;

        @media (max-width: 576px) { 
            flex-wrap: wrap;        
        }
     
    }
   
    .col-8{
        @media (min-width:320px) { 
            width: 100%;
        }
        @media (min-width: 576px) { 
            width: 100%;
            .flex-box{
                gap: 20px;
            }
        }
        @media(min-width: 1000px) {
            width: 57% ;
        }
        @media (min-width: 992px) {
            width: 64% ;
            
            .flex-box{
                gap: 20px ;
            }
         }
        
        .flex-box{
            align-items: center;
            gap: 48px 37px;
        }
    }
    .col-4{
        width: 30%;
    }
    .banner-bg{
        background-image: url(../../assets/Rectangle\ 1107.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        position: relative;
        .reffic-img{
            @media (min-width: 992px) {
                position: absolute !important;
                right: 0;
              }
            @media (min-width: 320px) { 
                position: static;
            }
            @media (min-width: 576px) { 
                position: static;
            }
        }
        .banner{
            display: flex;
            align-items: center;
            gap: 22px;
            color: $white;
            @media (min-width: 320px) { 
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
            @media (min-width: 576px) { 
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
            @media (min-width: 768px) {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
             }
             @media (min-width: 992px) {
                justify-content: flex-start;
                text-align: left;
              }
            // @media (min-width: 1200px) { ... }

            h3{
                font-weight: bold;
                font-size: 23px;
                margin-bottom: 0;
            }
            .banner-content{
                width: 530px;
            }
            
        }
    }
    .flex-box{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    }
    .bar-card.abaly-card, .mat-mdc-card.abaly-card {
        width: 280px ;
    }
    .bar-card .card-body .numBig, .mat-mdc-card .card-body .numBig {
        font-size: 60px;
        color: $primary-color;
        font-weight: bold;
    }
    .bar-card{
        margin-top: 2rem;
        .mat-mdc-card-content{
            margin-top: 23px;
        }
    }
    
   
    .high-contain{
        span{
            font-weight: bold;
            font-size: 14px;
        }
    }
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
        font-weight: 700 !important;
        color: black !important;
    }

    .mdc-button {
        &:is(.mat-mdc-outlined-button) {
            border: 1px solid $color-orange;
            color: $color-orange;
            padding: 20px 26px;
            width: 234px;
            height: 50px;
            font-size: 20px;
            img{
                width: 25px;
                height: 25px;
            }
        }
       
      }
      ::ng-deep{
        
        &.banner-button {
            span.mdc-button__label{
                display: flex !important; 
                align-items: center;
                gap: 13px;
            }
        }
        
    }

}