<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation -->
  <mat-sidenav #sidenav mode="side" opened class="full-width full-height " [ngClass]="{'small-sidenav': smallMenu}">
    <!-- Top Logo -->
    <div class="sidenav-logo">
      <img src="../../assets/Image 2.png" alt="Logo" *ngIf="!smallMenu">
      <img src="../../assets/Mask Group 92.png" alt="Logo" class="sm-logo" *ngIf="smallMenu">
    </div>

    <div class="head-seprator">
      <!-- Separator -->
          <hr class="separator">
    </div>

    <!-- Reports -->
    <div class="sidenav-section" *ngIf="!smallMenu">
      <ul>
        <li routerLinkActive="active"><a routerLink="/home/dashboard" > <mat-icon>home_outline</mat-icon>  Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/home/loan" ><mat-icon></mat-icon>Loan</a></li>
      </ul>
    </div>

     <!-- Separator -->
     <hr class="separator" *ngIf="!smallMenu"> 

    <!-- Reports -->
    <div class="sidenav-section" *ngIf="!smallMenu">
      <h3>REPORTS</h3>
      <ul>
          <li><a routerLink="/users/list"><mat-icon></mat-icon> User List</a></li>
          <li><a routerLink="/users/roles"><mat-icon></mat-icon> Roles & Permissions</a></li>
        <!-- Add more report links as needed -->
      </ul>
    </div>

     <!-- Separator -->
     <hr class="separator" *ngIf="!smallMenu"> 

    <!-- User Management -->
    <div class="sidenav-section" *ngIf="!smallMenu">
      <h3>USER MANAGEMENT</h3>
      <ul>
        <li><a routerLink="/users/list"><mat-icon></mat-icon>User List</a></li>
        <li><a routerLink="/users/roles"><mat-icon></mat-icon>Roles & Permissions</a></li>
      </ul>
    </div>

     <!-- Separator -->
     <hr class="separator" *ngIf="!smallMenu">

    <!-- Settings -->
    <div class="sidenav-section" *ngIf="!smallMenu">
      <h3>SETTINGS</h3>
      <ul>
        <li><a routerLink="/settings/profile"><mat-icon></mat-icon>Profile Settings</a></li>
        <li><a routerLink="/settings/preferences"><mat-icon></mat-icon>Preferences</a></li>
      </ul>
    </div>
    

    <div class="logout-btn" *ngIf="!smallMenu">
      <button mat-raised-button color="primary" [routerLink]="['/login']" type="submit"><mat-icon>logout</mat-icon> Logout</button>
    </div>
    <div class="menu-contrl" (click)="toggleSmallMenu()" >
      <mat-icon mat-icon-button >
        {{ smallMenu ? 'chevron_right' : 'chevron_left' }}
      </mat-icon>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content >
      <mat-toolbar color="primary" class="header">
      
        <div class="row-flex">
           
            <div class="col mobi-show dektop-hide" >
              <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"  (click)="toggleSmallMenu()">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          <div class="col mobi-hide" >
            <mat-form-field appearance="outline">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput type="search" placeholder="Search for Loan No. Type and more...">
            </mat-form-field>
          </div>
          <div class="col center">
            <h2>Bank Logo</h2>
          </div>
          <div class="col ">
            <ul class="toolbar-menu">
              <li class="mobi-hide">
                  <a  (click)="toggleDropdown('bizLandPro')">
                      <mat-icon class="orange-text">star</mat-icon> BizLend Pro   <mat-icon class="blue-text">expand_more</mat-icon>
                      <ul class="dropdown-menu" *ngIf="isDropdownOpen['bizLandPro']">
                          <li><a href="#">Item 1</a></li>
                          <li><a href="#">Item 2</a></li>
                          <li><a href="#">Item 3</a></li>
                      </ul>
                  </a>
              </li>
              <li ><a ><mat-icon class="yellow-text">help</mat-icon> Help</a></li>
              <li class="profile-dropdown">
                  <a (click)="toggleDropdown('profile')">
                      <div class="profile">
                          <img src="https://www.thesafetyexcellenceawards.com/wp-content/uploads/2017/10/speaker3-min.jpg" alt="" (click)="toggleDropdown('profile')">
                          <div class="pro_name mobi-hide">Jhon Doe</div>
                          <mat-icon class="blue-text mobi-hide">expand_more</mat-icon>
                      </div>
                      <ul class="dropdown-menu " *ngIf="isDropdownOpen['profile']" >
                          <li><a href="#">Profile</a></li>
                          <li><a href="#">Logout</a></li>
                      </ul>
                  </a>
              </li>
          </ul>
          </div>
        </div>
        
      </mat-toolbar>
      
      <div fxLayout="column" fxLayoutAlign="start stretch" class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
