@import '../../assets/theme/style.scss';
  
  .sidenav-container {
    background-color: $darkb-color;
    height: $viewport-width;
    position: relative;

  }
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 999999;
  }
  .center h2{
    font-size: 24px;
  }
  .menu-contrl{
    padding: 12px 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $white;
    text-align: center;
    margin-left: -10px;
    cursor: pointer;
   mat-icon{
    color: black;
    font-size: 33px;
   }
  }
  .row-container {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px; 
  }
  .row-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .col{
      width: 100%;
    }
  }

  .page-heading{
    font-weight: bold;
    font-size: 24px;
}
 
  .mat-sidenav {
    width: 300px;
    background-color: $darkb-color;
    color: $white;
    height: $viewport-width;
    overflow: auto;

    &.small-sidenav{
      width: 100px;
      ~.mat-drawer-content{
        margin-left: -100px !important;
        padding-left: 191px;
      }
    }
  

    ul{
        list-style-type: none;
        padding-left: 0;
        li{
            margin: 8px 0;
            margin-right: -15px;
            padding: 8px 10px;

            &:hover{
              background-color: #ffffff4a;
              padding: 8px 10px;
              border-radius: 4px 0px 0px 4px;
            }
            .mat-icon{
              margin-left: -10px;
          }
            &.active {
                background-color: $white;
                border-radius: 4px 0px 0px 4px;
                a{
                    font-weight: 500;
                    color: $primary-color;
                }
            }
           
            a {
                color: $white;
                text-decoration: none;
                display: flex;
                gap: 12px;
                align-items: center;
                font-size: 16px;
                margin-left: 20px;
                font-weight: normal;
               
               
            }
        }
       
    }
    .sm-logo{
      width: 48px !important;
      height: 48px !important;
    }
    .sidenav-logo {
        text-align: center;
        margin-top: 20px;
        padding-top: 1rem;
        img{
            width: 203px;
            height: 42px;
            object-fit: cover;
        }
    }
    .head-seprator{
        padding: 0 30px;
    }
  
  .separator {
    margin: 10px 0;
    border: none;
    border-top: 2px solid $leam-color;
  }
  }
  
  .mat-drawer-content {
    background-color: $white-leam-color; 
    margin-left: 300px !important;

    @media(max-width: 940px){
      margin-left: 10px !important;
    }
  }

  ::ng-deep{
    .small-sidenav-content{
      .dashboard-content .col-8{
          @media (min-width: 992px) {
              width: 940px !important;
           }
      } 
    }
  }

  
  .sidenav-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    width: 90%;

    h3{
      margin-bottom: -10px;
    }

    @media(min-width: 940px) {
      padding-top: 0 !important; 
      padding-bottom: 0 !important;
    }
  }
  .mat-toolbar{
    height: 80px;
    background-color: $white;
  }
  .mat-toolbar{
    color: black;
    padding-left: 3rem;
  }
  .sidenav-section h3 {
    margin-top: 0;
    font-size: 18px;
  }
  .tab-content{
    padding: 2rem;
  }
  .toggle-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: $white;
  }
  
  ::ng-deep{
    .mat-mdc-raised-button:not(:disabled) {
      background-color: $primary-blue !important;
      width: 90%;
      margin: 0 auto;
      position: absolute;
      right: 18px;
      bottom: 65px;
    }
    .mat-mdc-form-field:not(.mat-mdc-paginator-page-size-select) .mat-mdc-text-field-wrapper{
      width: 441px;
      height: 40px;
     
      margin: 0 auto;
      background: $form-background;
      border: 1px solid $primary-blue;
      border-radius: 5px;

      @media(max-width: 1280px){
        width:80%;
      } 

      .mdc-notched-outline__trailing, .mdc-notched-outline__leading{
        border: none ;
      }
  }
  .search-Icon{
    margin-left: 11px;
  }
  .mat-mdc-form-field-icon-prefix mat-icon, .mat-mdc-form-field-icon-suffix mat-icon{
      color: $primary-blue;
  }
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
  .mat-mdc-form-field-flex{
    margin-top: -8px;
  }
  }


.center{
  text-align: center;
}
.orange-text{
  color: orange;
}
.yellow-text{
  color: $yelow-color;
}
.blue-text{
  color: $primary-blue;
  font-size: 27px;
}
.toolbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: -30px;
}

.toolbar-menu li {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  width: 150px;
  list-style: none;
  top: 100%;
  right: 0;
  background-color: $white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;

  li{
    border-bottom: 1px solid $light-color;
    padding: 10px 0;
    &:last-child{
      border-bottom: none;
    }
  }
}

.toolbar-menu li a {
  text-decoration: none;
  color: $light-color;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  

}

.toolbar-menu li .profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.toolbar-menu li .profile img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100%;
}

.dektop-hide{
  display: none;
}


@media(max-width: 1280px){
  .mat-toolbar{
    padding-left: 10px ;
}
}


@media(max-width: 940px){
    .mobi-hide{
      display: none;
    }
    .mobi-show {
      display: block;
    }
    .mat-toolbar{
      padding-left: 10px ;
  }
  .small-sidenav{
    display: none;
  }
  .mat-sidenav.small-sidenav ~ .mat-drawer-content{
    padding-left: 0px !important;
    margin-left: 0px !important;
  }
}